{% extends "base_generic.html" %}

{% block content %}
  <div class="container">
    <h2>Login</h2>
    {% if form.errors %}
        <div class="card-panel red lighten-4">
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="input-field">
            <input type="text" name="username" id="username" required>
            <label for="username">Email</label>
        </div>
        <div class="input-field">
            <input type="password" name="password" id="password" required>
            <label for="password">Password</label>
        </div>
        <button type="submit" class="btn waves-effect waves-light">Login</button>
    </form>
    <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a></p>
</div>
{% endblock %}